.div1_NC {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    font-weight: 700;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size : 3rem;
}

.form_NC {
    margin-top: 0.75rem;
}

.div2_NC {
    flex-direction: column;
    width: 100%;
}

.div2_NC:md {
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.label_NC {
    width: 100%;
    flex: 1 1 0%;
    margin-left: 0.5rem;
    /* 8px */
    margin-right: 0.5rem;
    /* 8px */
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
    font-weight: 600;
    color: rgb(75 85 99);
    text-transform: uppercase;
    font-size: large;
}

.inputTitle_NC {
width:80%;
    padding-top: 0.5rem;  /* 8px */
    padding-bottom: 0.5rem;  /* 8px */
    padding-left: 0.25rem;  /* 4px */
    padding-right: 0.25rem;  /* 4px */
    margin-top: 0.5rem;
    color: rgb(31 41 55);
    appearance: none;
    border-width: 2px;
    border-color: rgb(243 244 246);
}
.textareaContent_NC {
    width:80%;
    height: 500px;
        padding-top: 0.5rem;  /* 8px */
        padding-bottom: 0.5rem;  /* 8px */
        padding-left: 0.25rem;  /* 4px */
        padding-right: 0.25rem;  /* 4px */
        margin-top: 0.5rem;
        color: rgb(31 41 55);
        appearance: none;
        border-width: 2px;
        border-color: rgb(243 244 246);
        resize: none;
    }

.input_NC:focus {
    color: rgb(107 114 128);
    outline: none;
    border-color: rgb(229 231 235);

}

.div3_NC {
    text-align: center;
}

.btn_NC {
    background-color: rgb(96 165 250);
    padding-top: 0.5rem;  /* 8px */
    padding-bottom: 0.5rem;  /* 8px */
    text-align: center;
    padding-left: 2.5rem;  /* 40px */
    padding-right: 2.5rem;  /* 40px */
    color: white;
    border-radius: 0.25rem;
    font-size: 1.25rem;/* 20px */
    line-height: 1.75rem;/* 28px */
}

.btn_NC:md {
    padding-left: 1.25rem; /* 40px */
    padding-right: 1.25rem;/* 40px */
    padding-top: 0.75rem; /* 8px */
    padding-bottom: 0.75rem;/* 8px */
}