
.orgCertifiedList {
    position: relative;
    display: grid;
    min-height: 20vh;
    background: var(--white);
    padding: 20px;
    margin-right: 5vw;
    width: 20vw;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    line-height: 1.5em;
}
.check_certified{
    height: 5vh;
}